<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.potato.commonpro.dao.RouterDao">
    <select id="list" resultType="Router">
        select * from router
        <trim prefix="where" suffixOverrides="and|or">
            <if test="id!=0 and id!=null ">
                id=#{id} and
            </if>
            <if test="name!=null and name!=''">
                name like "%"#{name}"%" and
            </if>
            <if test="parentId!=0  and parentId!=null ">
                parent_id=#{parentId} and
            </if>
            <if test="path!=null and path!=''">
                path like "%"#{path}"%" and
            </if>
            <if test="component!=null and component!=''">
                component like "%"#{component}"%" and
            </if>
        </trim>
    </select>

    <select id="getById" resultType="Router">
        select * from router where id=#{id}
    </select>



    <insert id="add">
        insert into router(name,path,component,parent_id,meta_id)
        values(
                  #{name},#{path},#{component},#{parentId},#{metaId})
    </insert>

    <update id="modify">
        update router set
        <if test="name!=null and name!=''">
            name =#{name}
        </if>
        <if test="path!=null and path!=''">
            ,path =#{path}
        </if>
        <if test="parentId!=0">
            ,parent_id =#{parentId}
        </if>
        <if test="component!=null and component!=''">
            ,component =#{component}
        </if>
        where id=#{id}
    </update>


    <delete id="del">
        delete from router where id = #{id}
    </delete>

</mapper>



